@import '../../styles/variables.scss';

.products {
  padding: 5rem 1.5rem;
  background: rgba(255, 255, 255, 0.5);
  
  &__container {
    max-width: 80rem;
    margin: 0 auto;
  }
  
  &__header {
    text-align: center;
    margin-bottom: 4rem;
  }
  
  &__title {
    font-size: 3rem;
    font-weight: 700;
    color: $gray-dark;
    margin-bottom: 1rem;
  }
  
  &__subtitle {
    font-size: 1.25rem;
    color: #6b7280;
  }
  
  &__grid {
    display: grid;
    gap: 2rem;
    
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}